@font-face {
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;

  src: url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/ralewaylight.woff2") format("woff2"), url("../fonts/ralewaylight.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/ralewaybold.woff2") format("woff2"), url("../fonts/ralewaybold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/ralewayextrabold.woff2") format("woff2"), url("../fonts/ralewayextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Lato";
  font-style: normal;

  src: url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff");
}

@font-face {
  font-weight: 300;
  font-family: "Lato";
  font-style: italic;

  src: url("../fonts/latolightitalic.woff2") format("woff2"), url("../fonts/latolightitalic.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Lato";
  font-style: normal;

  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Lato";
  font-style: normal;

  src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
}

body {
  min-width: 1170px;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", Arial, sans-serif;
  color: #666666;
  word-wrap: break-word;
  word-break: break-all;

  background-color: #ffffff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 13px 37px;

  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  background-color: #18a3dd;
  border-radius: 23px;
}

.btn:hover,
.btn:focus {
  background-color: #1887dd;
}

.btn:active {
  background-color: #666666;
}

.section-header {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  letter-spacing: 0.025em;
}

.section-lead {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: #333740;
  text-transform: uppercase;
}

.section-lead span {
  position: relative;

  padding-left: 35px;

  font-weight: 300;
}

.section-lead span::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -3px;
  left: 14px;

  width: 1px;

  background-color: #18a3dd;
}

.section-text {
  margin: 0;

  font-family: "Lato", Arial, sans-serif;
  color: #83888f;
  letter-spacing: 0.01em;
}

/*header*/

.page-header {
  position: relative;
}

.page-header::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;

  height: 1px;

  background-color: #ebebeb;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0 24px;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  font-family: "Helvetica", sans-serif;
  color: #656973;
  letter-spacing: 0.125em;
}

.logo {
  width: 68px;
  height: 68px;
  margin-right: 12px;
}

.menu-btn {
  margin-right: 17px;
  margin-bottom: 4px;

  font-size: 39px;
  color: #666666;
}

.menu-btn:hover,
.menu-btn:focus {
  color: #18a3dd;
}

.menu-btn:active {
  color: #1887dd;
}


/*promo*/

.promo {
  background-image: url("../img/bg-dots-rtl.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.promo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 179px;
  padding-bottom: 172px;
}

.promo-wrapper {
  -ms-flex-preferred-size: 460px;
      flex-basis: 460px;
  padding-bottom: 12px;
}

.promo-header {
  position: relative;

  margin-bottom: 61px;
  padding-left: 31px;

  font-weight: 800;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
}

.promo-header::before {
  content: "";
  position: absolute;
  top: 9px;
  bottom: 5px;
  left: 0;

  width: 5px;

  background-color: #18a3dd;
  border-radius: 3px;
}

.first-lead {
  margin: 0;
  margin-bottom: 13px;

  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.second-lead {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
  letter-spacing: 0.025em;
}

.promo-text {
  margin: 0;
  margin-bottom: 46px;

  letter-spacing: 0.015em;
}

.order-btn {
  margin-right: 24px;
}

.video-btn {
  position: relative;

  display: inline-block;
  padding-right: 25px;

  font-weight: 700;
  line-height: 30px;
  vertical-align: middle;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.video-btn::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;

  width: 18px;
  height: 18px;

  background-image: url("../img/icon-play.png");
  background-repeat: no-repeat;
}

.promo-image {
  position: relative;
  right: -55px;

  width: 649px;
  height: 535px;
}

/*about-supplement*/

.about-supplement {
  background-color: #0f0816;
  background-image: -webkit-linear-gradient(220deg, #0f0816, #21172b 90%);
  background-image: -o-linear-gradient(220deg, #0f0816, #21172b 90%);
  background-image: linear-gradient(-130deg, #0f0816, #21172b 90%);
}

.about-supplement .container {
  position: relative;

  padding-top: 106px;
  padding-bottom: 110px;
}

.about-supplement .image {
  position: absolute;
  top: -123px;
  left: -152px;
}

.supplement-table {
  margin-left: 293px;

  border-collapse: collapse;
  border-spacing: 0;
}

.supplement-item td {
  width: 292px;
}

.supplement-item td:last-child {
  width: 184px;
}

.supplement-item.count {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #ffffff;
  letter-spacing: 0.025em;
}

.supplement-item.count td {
  position: relative;

  padding-bottom: 11px;
  padding-left: 23px;
}

.supplement-item.count td::before {
  content: "";
  position: absolute;
  top: 17px;
  bottom: 17px;
  left: 0;

  width: 5px;

  background-color: #18a3dd;
  border-radius: 3px;
}

.supplement-item.unit {
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #18a3dd;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.supplement-item.info {
  padding-left: 0;

  text-align: left;
  color: #a9a9a9;
  letter-spacing: 0.025em;
}

/*features*/

.features {
  position: relative;

  padding-top: 115px;
  overflow-y: hidden;
}

.features::after {
  content: "";
  position: absolute;
  bottom: -47px;
  left: 50%;

  width: 308px;
  height: 486px;

  background-image: url("../img/bg-peoples.png");
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features .section-header {
  margin-bottom: 129px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 65px;
  padding: 0;
  padding-bottom: 41px;

  list-style: none;
}

.features-item {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  margin-bottom: 72px;
}

.features-item:nth-child(even) {
  margin-left: 490px;
}

.features-item .title {
  position: relative;

  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 20px;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.features-item .title::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: -15px;

  width: 5px;

  background-color: #18a3dd;
  border-radius: 3px;
}

.features-item:nth-child(odd) .title {
  padding-right: 26px;

  text-align: right;
}

.features-item:nth-child(odd) .title::after {
  right: -1px;
}

.features-item:nth-child(even) .title {
  padding-left: 31px;

  text-align: left;
}

.features-item:nth-child(even) .title::after {
  left: 1px;
}

.features-item .description {
  margin: 0;

  color: #5b5f64;
  letter-spacing: 0.015em;
}

.features-item:nth-child(odd) .description {
  text-align: right;
}

.features-item:nth-child(even) .description {
  text-align: left;
}

/*results*/

.results {
  position: relative;

  padding-top: 116px;
}

.results .section-header {
  margin-bottom: 76px;
}

.results-list {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;

  list-style: none;
}

.results-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-before {
  position: relative;
  left: 67px;
  z-index: 2;

  width: 262px;
  height: 300px;
}

.img-after {
  position: relative;

  display: block;
  width: 360px;
  height: 400px;
}

.info-wrapper {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.results-table {
  margin-top: 108px;
  margin-bottom: 29px;

  border-collapse: collapse;
  border-spacing: 0;
}

.results td,
.results th {
  padding-left: 30px;
}

.results-item .count {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #333740;
}

.results-item span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.results-item .time th {
  font-weight: 300;
  font-size: 16px;
  line-height: 42px;
  color: #18a3dd;
  letter-spacing: 0.025em;
}

.about-human {
  position: relative;

  padding-left: 57px;
}

.about-human::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 3px;
  left: 30px;

  width: 5px;

  background-color: #18a3dd;
  border-radius: 3px;
}

.name {
  margin: 0;

  font-weight: 700;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
}

.age {
  margin: 0;

  text-transform: uppercase;
}

.slider-toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82px;
  margin: 0 auto;
}

.slider-toggle {
  width: 12px;
  height: 12px;
  margin-bottom: 10px;
  padding: 0;

  background-color: #d8e4e8;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle.active {
  background-color: #18a3dd;
}

.slider-toggle:hover,
.slider-toggle:focus {
  background-color: #1887dd;
}

.slider-toggle:active {
  background-color: #18a3dd;
}

.slider-arrow {
  position: absolute;

  width: 65px;
  height: 65px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

.arrow-left {
  bottom: 245px;
  left: 16px;

  background-image: url("../img/icon-arrow-left.png");
}

.arrow-right {
  right: 16px;
  bottom: 245px;

  background-image: url("../img/icon-arrow-right.png");
}

.slider-arrow:hover,
.slider-arrow:focus {
  opacity: 0.5;
}

.slider-arrow:active {
  opacity: 0.8;
}

/*testimonials*/

.testimonials {
  margin-top: 109px;
  padding-top: 116px;
  padding-bottom: 111px;

  background-color: #0f0816;
  background-image: url("../img/bg-clients.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials .section-header {
  margin-bottom: 66px;
}

.testimonials .section-lead {
  color: #e5e5e5;
  letter-spacing: 0.025em;
}

.testimonials .section-text {
  color: #767a7d;
}

.testimonials-list {
  margin-bottom: 46px;
}

.testimonials-item {
  width: 750px;
  margin: 0 auto;
  padding-left: 10px;
}

.testimonials-item .text {
  margin: 0;
  margin-bottom: 31px;

  text-align: center;
  color: #a9a9a9;
  font-style: italic;
  letter-spacing: 0.015em;
}

.author-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  margin-left: 284px;
}

.author-wrapper .photo {
  width: 65px;
  height: 73px;
}

.author-info-wrapper {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 32px;
}

.author-info-wrapper::after {
  content: "";
  position: absolute;
  right: 88px;
  bottom: -13px;
  left: 31px;

  height: 5px;

  background-color: #18a3dd;
  border-radius: 3px;
}

.author {
  font-weight: 700;
  font-family: "Raleway", Arial, sans-serif;
  color: #e5e5e5;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.025em;
}

.location {
  display: inline;
  margin: 0;

  font-size: 14px;
  color: #a9a9a9;
  letter-spacing: 0.025em;
}

/*facts*/

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 975px;
  padding-top: 116px;
  padding-bottom: 116px;
}

.facts .section-header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 65px;
}

.specs-wrapper {
  -ms-flex-preferred-size: 460px;
      flex-basis: 460px;
}

.facts-table {
  position: relative;

  margin-bottom: 48px;

  border-collapse: collapse;
}

.facts-head {
  position: relative;

  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  -webkit-box-shadow: 0 5px 0 0 #333740;

          box-shadow: 0 5px 0 0 #333740;
}

.facts-head th {
  padding-bottom: 18px;
}

.first-column {
  width: 350px;

  text-align: left;
}

.second-column {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.second-column span {
  display: block;

  font-weight: 300;
}

.facts-item {
  border-bottom: 1px solid #ebebeb;
}

.facts-active {
  position: relative;

  border: none;
  border-top: 2px solid white;
  -webkit-box-shadow: 0 0 0 10px #ffffff,
  0 0 0 11px #d7d7d7,
  0 0 10px 11px #000000;
          box-shadow: 0 0 0 10px #ffffff,
  0 0 0 11px #d7d7d7,
  0 0 10px 11px #000000;
}

.facts-item td {
  padding: 8px 0 7px;

  letter-spacing: 0.025em;
}

.facts-item:nth-child(2) td {
  padding: 24px 0 7px;
}

.facts-item .name {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  font-family: "Lato", Arial, sans-serif;
  text-transform: none;
}

.facts-item .count {
  text-align: right;
}

.facts-btn {
  display: block;

  text-align: left;
}

.facts-btn span {
  float: right;

  font-weight: 300;
}

.selected-item {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
}

.selected-item .image {
  width: 103px;
  height: 116px;
  margin-top: 7px;
  margin-bottom: 38px;
}

.about-item {
  position: relative;

  margin-bottom: 23px;
  padding-left: 29px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 1px;

  width: 5px;

  background-color: #18a3dd;
  border-radius: 3px;
}

.about-item .title {
  margin: 0;

  font-weight: 700;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.about-item .count {
  margin: 0;

  font-weight: 300;
  color: #333740;
}

.selected-item .description {
  margin: 0;

  letter-spacing: 0.015em;
}

/*certifications*/

.certifications {
  padding-top: 77px;
  padding-bottom: 69px;

  background-color: #f1f4f5;
}

.certifications .lead {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.certifications .text {
  margin: 0;
  margin-bottom: 42px;

  text-align: center;
  color: #83888f;
  letter-spacing: 0.025em;
}

.certifications-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 100px;

  list-style: none;
}

.certifications-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-preferred-size: 165px;
      flex-basis: 165px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;

  height: 100px;

  opacity: 0.5;
}

.certifications-item:not(:nth-child(5n))::before {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;

  width: 1px;
  height: 100px;

  background-color: #0f0f0f;
}

.certifications-item a {
  display: block;
  width: 165px;
  text-align: center;
}

/*order*/

.order {
  background-image: url("../img/bg-dots-ltr.png");
  background-repeat: no-repeat;
  background-position: center left;
}

.order .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 25px;
}

.order .image {
  width: 744px;
  height: 489px;
  margin-left: -100px;
}

.order-wrapper {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  margin-top: 72px;
  margin-right: 96px;
}

.about-title {
  position: relative;

  margin: 0;
  margin-bottom: 7px;
  padding-left: 30px;

  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
}

.about-title::before {
  content: "";
  position: absolute;
  top: 8px;
  bottom: -13px;
  left: -1px;

  width: 5px;

  background-color: #18a3dd;
  border-radius: 3px;
}

.about-count {
  margin: 0;
  margin-bottom: 27px;
  padding-left: 33px;

  font-size: 20px;
  color: #333740;
  letter-spacing: 0.025em;
}

.order .description {
  margin: 0;
  margin-bottom: 34px;

  letter-spacing: 0.01em;
}

/*subscribe*/

.subscribe {
  padding-top: 96px;
  padding-bottom: 121px;

  background-color: #060606;
  background-image: url("../img/bg-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe .section-header {
  margin-bottom: 66px;
}

.subscribe .section-lead {
  color: #e5e5e5;
  letter-spacing: 0.025em;
}

.subscribe .section-text {
  color: #767a7d;
}

.subscribe-form {
  position: relative;

  width: 615px;
  margin: 0 auto;

  text-align: center;
}

.subscribe-email {
  position: relative;
  z-index: 3;

  width: 555px;
  height: 50px;
  padding: 13px;
  padding-right: 165px;
  padding-left: 31px;

  font: inherit;
  letter-spacing: 0.025em;

  border: none;
  border-radius: 23px;
}

.subscribe-form::before {
  content: "";
  position: absolute;
  top: -36px;
  right: -30px;
  bottom: -36px;
  left: -30px;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.subscribe-email::-webkit-input-placeholder {
  color: #ababab;
  letter-spacing: 0.025em;
}

.subscribe-email:-ms-input-placeholder {
  color: #ababab;
  letter-spacing: 0.025em;
}

.subscribe-email::-ms-input-placeholder {
  color: #ababab;
  letter-spacing: 0.025em;
}

.subscribe-email::placeholder {
  color: #ababab;
  letter-spacing: 0.025em;
}

.subscribe-btn {
  position: absolute;
  left: 435px;
  z-index: 3;

  width: 151px;
  height: 50px;
  padding: 16px 31px;
  overflow: hidden;

  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;

  background-color: #18a3dd;
  border: none;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #1887dd;
}

.subscribe-btn:active {
  background-color: #666666;
}

/*feedback*/

.feedback {
  padding-top: 116px;
  padding-bottom: 119px;

  word-break: normal;
}

.feedback .section-header {
  margin-bottom: 65px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 555px;
  margin: 0 auto;
}

.feedback-item {
  position: relative;

  margin: 0;
  margin-bottom: 46px;
}

.feedback-item:last-of-type {
  margin-bottom: 43px;
}

.feedback-item input {
  width: 262px;
  padding: 0 0 9px 0;

  font: inherit;
  letter-spacing: 0.025em;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid  #ebebeb;
}

.feedback-item:nth-child(3) input,
.feedback-item:nth-child(4) textarea {
  width: 555px;
}

.feedback-item textarea {
  border: none;
  border-bottom: 1px solid  #ebebeb;

  resize: none;
}

.feedback-item label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
}

.feedback-item input:hover,
.feedback-item input:focus,
.feedback-item textarea:hover,
.feedback-item textarea:focus {
  border-color: #18a3dd;
  outline: none;
}

.feedback-item input:focus ~ .form-label,
.feedback-item input:not(:placeholder-shown) ~ .form-label {
  top: -18px;

  font-size: 12px;
  color: #e0e0e0;
}

.feedback-btn {
  min-width: 224px;
  margin: 0 auto;
  padding: 16px;

  border: none;
  cursor: pointer;
}

/*page-footer*/

.page-footer {
  padding-top: 43px;
  padding-bottom: 49px;

  background-color: #f1f4f5;
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-footer .copyright {
  width: 263px;
  margin: 0;
  margin-bottom: 17px;

  line-height: 22px;
  letter-spacing: 0.015em;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-item:not(:last-child) {
  position: relative;

  margin-right: 25px;
}

.info-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -12px;
  bottom: 3px;

  width: 1px;

  background-color: #d9d9d9;
}

.info-item a {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  letter-spacing: 0.025em;
}

.info-item a:hover,
.info-item a:focus {
  opacity: 0.5;
}

.info-item a:active {
  opacity: 0.8;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 237px;
  margin: 0;
  margin-top: 14px;
  padding: 0;

  list-style: none;
}

.social-item .fab {
  font-size: 23px;
  color: #666666;
}

.social-item .fab:hover,
.social-item .fab:focus {
  color: #1887dd;
}

.social-item .fab:active {
  color: #000000;
}
