@font-face {
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;

  src: url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/ralewaylight.woff2") format("woff2"), url("../fonts/ralewaylight.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/ralewaybold.woff2") format("woff2"), url("../fonts/ralewaybold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Raleway";
  font-style: normal;

  src: url("../fonts/ralewayextrabold.woff2") format("woff2"), url("../fonts/ralewayextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Lato";
  font-style: normal;

  src: url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff");
}

@font-face {
  font-weight: 300;
  font-family: "Lato";
  font-style: italic;

  src: url("../fonts/latolightitalic.woff2") format("woff2"), url("../fonts/latolightitalic.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Lato";
  font-style: normal;

  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Lato";
  font-style: normal;

  src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

body {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", Arial, sans-serif;
  color: #666666;

  background-color: #ffffff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 13px 37px;

  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  background-color: #18a3dd;
  border-radius: 23px;
}

.btn:hover,
.btn:focus {
  background-color: #1887dd;
}

.btn:active {
  background-color: #666666;
}
/*header*/

.page-header {
  position: relative;
}

.page-header::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;

  height: 1px;

  background-color: #ebebeb;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0 24px;
}

.logo-link {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  font-family: "Helvetica", sans-serif;
  color: #656973;
  letter-spacing: 0.125em;
}

.logo {
  width: 68px;
  height: 68px;
  margin-right: 12px;
}

.menu-btn {
  padding-right: 17px;
  padding-bottom: 4px;

  font-size: 39px;
  color: #666666;
}

.menu-btn:hover,
.menu-btn:focus {
  color: #18a3dd;
}

.menu-btn:active {
  color: #1887dd;
}


/*promo*/

.promo {
  background-image: url("../img/bg-dots-rtl.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.promo .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 179px;
  padding-bottom: 171px;
}

.promo-wrapper {
  flex-basis: 460px;
  padding-bottom: 12px;
}

.promo-header {
  position: relative;

  margin-bottom: 61px;
  padding-left: 31px;

  font-weight: 800;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
}

.promo-header::before {
  content: "";
  position: absolute;
  top: 9px;
  bottom: 5px;
  left: 0;

  width: 5px;

  background-color: #18a3dd;
  border-radius: 3px;
}

.first-lead {
  margin: 0;
  margin-bottom: 13px;

  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.second-lead {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
  letter-spacing: 0.025em;
}

.promo-text {
  margin: 0;
  margin-bottom: 46px;

  letter-spacing: 0.015em;
}

.order-btn {
  margin-right: 24px;
}

.video-btn {
  position: relative;

  display: inline-block;
  padding-right: 25px;

  font-weight: 700;
  line-height: 30px;
  vertical-align: middle;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.video-btn::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;

  width: 18px;
  height: 18px;

  background-image: url("../img/icon-play.png");
  background-repeat: no-repeat;
}

.promo-image {
  position: relative;
  right: -55px;
}

.supplement-item.count {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #ffffff;
  letter-spacing: 0.025em;
}

.supplement-item.unit {
  font-weight: 700;
  line-height: 22px;
  color: #18a3dd;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.supplement-item.info {
  color: #a9a9a9;
  letter-spacing: 0.025em;
}

.section-header {
  font-family: "Raleway", Arial, sans-serif;
  letter-spacing: 0.025em;
}

.section-lead {
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: #333740;
  text-transform: uppercase;
}

.section-lead span {
  font-weight: 300;
}

.section-text {
  font-family: "Lato", Arial, sans-serif;
  color: #83888f;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.ffeatures-item .title {
  font-weight: 700;
  font-size: 20px;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.features-item .description {
  color: #5b5f64;
  letter-spacing: 0.025em;
}

.results-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.results-item .count {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #333740;
}

.results-item span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.results-item .time {
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
  color: #18a3dd;
  letter-spacing: 0.025em;
}

.name {
  font-weight: 700;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
}

.age {
  text-transform: uppercase;
}

.testimonials .section-lead {
  color: #e5e5e5;
}

.testimonials .section-text {
  color: #767a7d;
}

.testimonials-item .text {
  color: #a9a9a9;
  font-style: italic;
  letter-spacing: 0.025em;
}

.author {
  font-weight: 700;
  font-family: "Raleway", Arial, sans-serif;
  color: #e5e5e5;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.025em;
}

.location {
  font-size: 14px;
  color: #a9a9a9;
  letter-spacing: 0.025em;
}

.facts-head {
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.second-column {
  font-size: 16px;
  line-height: 22px;
}

.second-column span {
  font-weight: 300;
}

.facts-item .name {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  font-family: "Lato", Arial, sans-serif;
  text-transform: none;
}

.facts-btn span {
  font-weight: 300;
}

.about-item .title {
  font-weight: 700;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.about-item .count {
  font-weight: 300;
  color: #333740;
}

.certifications .lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.certifications .text {
  color: #83888f;
}

.certifications-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-order .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  font-family: "Raleway", Arial, sans-serif;
  color: #333740;
  text-transform: uppercase;
}

.about-order .count {
  font-size: 20px;
  color: #333740;
  letter-spacing: 0.025em;
}

.order .description {
  letter-spacing: 0.025em;
}

.subscribe .section-lead {
  color: #e5e5e5;
}

.subscribe .section-text {
  color: #767a7d;
}

.subscribe-email {
  font: inherit;
  letter-spacing: 0.025em;
}

.subscribe-email::placeholder {
  color: #ababab;
  letter-spacing: 0.025em;
}

.subscribe-btn {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  background-color: #18a3dd;
}

.feedback-item input {
  font: inherit;
  letter-spacing: 0.025em;
}

.feedback-item input::placeholder {
  color: #ababab;
}

.page-footer .copyright {
  line-height: 22px;
  letter-spacing: 0.025em;
}

.info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-item a {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  letter-spacing: 0.025em;
}

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
